@use './Navbar.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


$background: #ffffff;
$textGray: rgba(99, 101, 112, 0.565);

body{
  background: $background;
}

:root{
  --font-lato: 'Lato', sans-serif;
  --background: #{$background};
  --textGray: #{$textGray};
  --elementBg: #f5f6fa;
}